rect.grass { fill: darkgreen; }
text.grass { fill: green; }

rect.water { fill: darkblue; }
text.water { fill: blue; }

rect.sand { fill: orange; }
text.sand { fill: yellow; }

rect.wall { fill: gray; }
text.wall { fill: silver; }

rect.woods { fill: #003000; }
text.woods { fill: #005000; }
